<html>
<head>
<link rel="shortcut icon" type="image/jpg" href="favicon.ico"/>
<style>
.alignleft {
	float: left;
}
.alignright {
	float: right;
}

body {
    background-color: #333333;
    color: #4caf50;
    font-family:Arial;
}

a:link {
  color: green;
  background-color: transparent;
}

a:visited {
  color: aqua;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

</style>
</head>
<body style="font-family:Arial;">
<p class="alignright"><img src="WRXSEUKLogo.png" alt="WRXSEUK" width="150"></p>
<p class="alignleft"><b> Welcome to wrx.liveencode.com - Weather Mapping from S.E.UK</b><br>
<a href="https://m.facebook.com/wrxseuk/"> wrxseuk facebook page </a><br>
<br>
Use the map to follow satellites and predict passes.<br>
Capturing TX from ISS, NOAA 15, 18 and 19 and Meteor-M2<br>
</p>
<iframe name="satvis" src="https://satvis.space/?elements=Point,Label,Orbit%20track,Sensor%20cone&layers=OfflineHighres&gs=50.8515,-0.1446&tags=Weather" width="100%" height="500" style="border:none;"> </iframe>
<iframe style="background-color:#333333;border:none;" name="body" src="passes.php" width="100%" height="250%" scrolling="no"></iframe>
</body>
</html>
